.business-owner-account-container {
    padding: 20px;
    
    background-color: #0c1e2b;
    color: #87b3b8;
    font-family: poppins, sans-serif;
}
.business-owner{
    height: 100vh;
    margin-top:200px;
}
.owner-profile-section {
    background-color: #1a2d37;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.profile-details h1 {
    color: #e8e8e8;
}

.business-details {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.business-details img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.reviews-section {
    background-color: #1a2d37;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.reviews-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.review-card {
    background-color: #0c1e2b;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.review-card h4 {
    color: #e8e8e8;
    margin: 0;
}

.rating .filled-stars {
    color: #ffd700; /* Gold for filled stars */
}

.rating .empty-stars {
    color: #ccc; /* Gray for empty stars */
}

.rating .numeric-rating {
    margin-left: 5px;
    color: #e8e8e8;
}
